body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/*

Style our app according to the provided design!

green color -> #5f9341

*/


input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px #5f9341;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

button {
    background-color: #5f9341;
    border: 1px solid #5f9341;
    margin-top: 4px;
    color: white;
    font-size: 10px;
    padding: 10px 20px;
    font-weight: bold;
    
}
